@import 'tailwindcss';
@import './fonts.css';

@source "../views";
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

@theme {
    --color-background: #f9f5f2;
    --color-dark-green: #186031;
    --color-medium-green: #b7d7c2;
    --color-light-green: #e2f7e5;
    --color-peach: #f8a184;
    --font-playfair: 'Playfair Display', serif;
    --font-tropika: 'Tropika Island Int', serif;
    --font-tropikal: 'Tropikal', sans-serif;
    --font-quick: 'Quick', sans-serif;
    --font-brittany: 'Brittany', sans-serif;
}

html,
body {
    font-variation-settings:
        'wght' 400,
        'wdth' 101.3,
        'opsz' 10;
    @apply text-dark-green bg-background font-quick antialiased md:subpixel-antialiased;
    color: #2f232b;
}
h1,
h2,
h3,
h4 {
    font-variant-ligatures: none;
    font-weight: 400 !important;
    @apply font-tropikal text-dark-green;
}
h2 {
    @apply mt-8 mb-4 !text-3xl;
}

h2:has(svg) {
    @apply flex items-center gap-2;
}

h2 svg {
    @apply inline w-7;
}

h3 {
    @apply mt-6 mb-2 !text-2xl;
}
h4 {
    @apply !text-xl;
}
p {
    @apply mb-2;
}

#mobile-nav li:not(:last-child):after {
    content: '';
    @apply from-dark-green absolute z-0 h-[1px] w-full rounded-full bg-gradient-to-r to-transparent md:hidden;
}

a.active {
    @apply border-b-2 border-b-gray-800;
}

::marker {
    @apply text-dark-green;
}
