@import 'tailwindcss';
@import './fonts.css';

@source "../views";
@plugin '@tailwindcss/typography';

@theme {
    --color-dark-green: #053e02;
    --color-medium-green: #b7d7c2;
    --color-light-green: #e2f7e5;
    --font-playfair: 'Playfair Display', serif;
}

html,
body {
    font-variation-settings: 'wght' 400, 'wdth' 101.30, 'opsz' 10;
    @apply text-dark-green bg-medium-green antialiased md:subpixel-antialiased font-playfair;
}
h1 {
    font-family: 'Baby Bunny Regular', serif;
}
#logo:before {
    content: '';
    background-color: #6fae78;
    @apply absolute z-0 h-48 w-48 rounded-full;
}

#mobile-nav li:not(:last-child):after {
    content: '';
    @apply from-dark-green absolute z-0 h-[1px] w-full rounded-full bg-gradient-to-r to-transparent;
}

#logo h1,
#logo span {
    @apply z-10;
}
#logo span {
    @apply font-playfair;
}

h2,
h3 {
    @apply font-playfair;
    font-weight: 500;
}

a.active {
    @apply border-b-2 border-b-gray-800;
}

::marker {
    @apply text-dark-green;
}
