@font-face {
    font-family: 'Baby Bunny Regular';
    font-style: normal;
    font-weight: 400;
    src: url(./../fonts/BabybunnyRegular.woff2) format('woff2');
}
/*@font-face {*/
/*    font-family: "Playfair Display Regular";*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    src: url(./../fonts/PlayfairDisplay-Regular.woff2) format("woff2");*/
/*}*/
/*@font-face {*/
/*    font-family: "Playfair Display Medium";*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    src: url(./../fonts/PlayfairDisplay-Medium.woff2) format("woff2");*/
/*}*/
